<template>
  <div id="navbar">
    <div class="nav-bar">
      <b-nav pills>
        <b-nav-item active>Active</b-nav-item>
        <b-nav-item>Link</b-nav-item>
      </b-nav>
    </div>
  </div>
</template>

<script>
export default {
  name: "navbar",
  data() {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.nav-bar {
  padding-left: 20px;
}

</style>