<template>
    <div id="dashboard">
        <h1>THIS IS DASHBOARD</h1>
    </div>
</template>

<script>
export default {
  name: "dashboard",
  data() {
    return {
        
    }
  }
}
</script>

<style scoped>
</style>