<template>
  <div id="home">
    <div class="container">
      <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <form action autocomplete="off">
                <div class="form-group">
                  <input type="text" class="form-control" name="username" v-model="login">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" v-model="password">
                </div>
                <button
                  type="button"
                  id="sendlogin"
                  class="btn btn-primary"
                  @click="postUserLogin"
                >login</button>
              </form>
            </div>
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            v-if="showErrorAlert"
          >Error: {{ alertErrorMessage }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from '@/router/index';
import appSettings from '@/conf/settings';

export default {
  name: "login",
  data() {
    return {
      errors: [],
      showErrorAlert: false,
      alertErrorMessage: "",
      login: "",
      password: ""
    };
  },
  methods: {
    postUserLogin() {
      axios
        .post(appSettings.apiUrl + 'authenticate', {
          login: this.login,
          password: this.password
        })
        .then(response => {
          localStorage.setItem('accessToken', JSON.stringify(response.data));
          router.push('/dashboard');
        })
        .catch(e => {
          this.showErrorAlert = true;
          this.errors.push(e);
          this.alertErrorMessage = this.errors[
            this.errors.length - 1
          ].response.data.errorMessage;
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
